
.avatar-image {
    width: 250px;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
} 

.avatar-name {
    text-align: center;
    color: #FFFFFF;
    font-size: large;
    font-weight: normal;
}